@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  background: #111111;
}

.background {
  background: #111111;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 450px;
  min-height: 100dvh;
  background: #171717;
}
.navbar .navbar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}
.navbar .navbar-container a {
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-in;
}
.navbar .navbar-container a:hover {
  transform: scale(1.1);
}
.navbar .navbar-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  filter: brightness(0.5) drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.515));
}
.navbar .navbar-container img:hover {
  filter: brightness(1) drop-shadow(20px 20px 4px rgba(0, 0, 0, 0.515));
  animation: bouncing 0.5s 0.3s;
}

.container {
  background: #171717;
  width: 450px;
  padding-bottom: 100px;
}
.container h1 {
  text-align: center;
  margin: 20px 0px;
}
.container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container .topbar img {
  width: 100px;
  margin-bottom: 20px;
  filter: brightness(0.7);
}
.container .topbar .gujarati-text {
  vertical-align: 10px;
  font-size: 20px;
  margin-left: 15px;
  color: #9C9C9C;
}

form {
  display: flex;
  justify-content: center;
}
form .items {
  width: 100%;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
}
label:nth-child(odd) {
  background: #111111;
}
label input[type=number] {
  background: #212121;
  border: 2px solid black;
  outline: none;
  padding: 10px;
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}
label input[type=number]:focus {
  border: 2px solid black;
}
label .text {
  flex: 0 0 50%;
  color: #9C9C9C;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid black;
  position: relative;
  transition: all 0.2s ease-in-out;
}
input[type=checkbox]::before {
  position: absolute;
  top: -19px;
  left: 3px;
  content: "✓";
  font-size: 35px;
  background: -webkit-linear-gradient(#07D1EC, #BB65FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
input[type=checkbox]:checked::before {
  transform: scale(1);
}

.button {
  position: fixed;
  background: linear-gradient(135deg, rgb(187, 101, 255) 0%, rgb(88, 87, 253) 50%, rgb(7, 209, 236) 100%);
  padding: 20px;
  border-radius: 50%;
  border: none;
  transition: all 0.5s ease-in-out;
  right: 15px;
  bottom: 15px;
  aspect-ratio: 1;
  box-shadow: #BB65FF -5px -5px 15px 0px, #5857FD 0px 0px 15px 0px, #07D1EC 2px 2px 15px 0px;
}
.button:hover {
  box-shadow: #07D1EC 2px 2px 30px 0px;
}
.button img {
  width: 25px;
  margin: 0px;
  filter: invert(100%);
  opacity: 0.5;
}

.download-pic {
  background: rgb(255, 255, 255);
  padding: 15px;
  display: none;
  box-shadow: black 0px 8px 24px;
}
.download-pic #selectedItems {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-weight: 600;
}
.download-pic #selectedItems h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.download-pic #selectedItems .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.download-pic #selectedItems .item:nth-child(odd) {
  background: rgb(248, 248, 248);
}
.download-pic #selectedItems .item p {
  color: rgb(0, 0, 0);
}
.download-pic #selectedItems .total-div {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 10px 15px;
  background: rgb(255, 196, 0);
  margin: 20px 15px 25px 15px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 15px;
}
.download-pic #selectedItems .total-div .total-items {
  color: rgb(255, 255, 255);
}
.download-pic #selectedItems .total-div .total-price {
  color: white;
}
.download-pic #selectedItems .date {
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 700;
  margin-right: 15px;
  margin-bottom: 15px;
}
.download-pic #selectedItems img {
  width: 100px;
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
}

@keyframes bouncing {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}/*# sourceMappingURL=style.css.map */
